.vscode
.idea
.DS_Store
*.pb.go
*.pb.gw.go
*.gen.go
intmax2-withdrawal
mock_*
mocks/
vendor
.env*
!.env/example
cmd/examples/*
!cmd/examples/.gitkeep
build/sql_dbs/*
!build/sql_dbs/.gitkeep
build/env.docker.withdrawal-server
internal/pb/gen
third_party/OpenAPI/withdrawal_service/*
!third_party/OpenAPI/withdrawal_service/index.html
